body {
  background-color: black;
  height: 100vh;
}

.header-base {
  text-align: center;
  color: #fff;
  margin-top: 10px;
  padding: 10px 0;
  letter-spacing: 2px;
  font-weight: 800;
  font-size: xx-large;
}

.movingtext {
  color: #fff;
}

.navbar {
  display: flex;
  height: 3rem;
  background-color: rgba(255, 0, 0, 0.541);
}

.nav-a {
  text-decoration: none;
  list-style: none;
  color: aliceblue;
  text-transform: uppercase;
}



.cardstyle {
  margin-top: 1.2rem;
  margin-left: 3rem;
  width: 25rem;
}

.footer{
    height: 20rem;
    background-color: rgb(23, 40, 25);
    color: #fff;
    text-align: center;
}
